<p id="notice"><%= notice %></p>

<p>
  <strong>Replayname:</strong>
  <%= @good_vibe.ReplayName %>
</p>

<p>
  <strong>Replaydate:</strong>
  <%= @good_vibe.ReplayDate %>
</p>

<%= link_to 'Edit', edit_good_vibe_path(@good_vibe) %> |
<%= link_to 'Back', good_vibes_path %>
